<h1>Vocero en linea</h1>
<hr class="devider">

<div class="col-lg-4">
	<% if @votacion %>
		<%= render "/welcome/votacion_info"%>
	<% end %>
</div>

<div class="col-lg-4">
	<%= render "/welcome/partidos"%>
</div>

<div class="col-lg-4">
	<%= render "/welcome/acciones"%>
</div>